<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <p>
    <form action= "/" method="GET">
    <input type="text" name="urlLBC"/>
        <button type="submit">
            OK
        </button>
         </form>
        <br></br>
        <br></br>
        <%="Prix sur le site le bon coin : "+ prix %>
        <br></br>
        <%="Type de mobilier : " + type%>
        <br></br>
        <%="Ville: "+ville%>
        <br></br>
        <%= "Code postale : "+post%>
        <br></br>
        <%="Nombre de pièces : "+" "+Nbrepiece%>
        <br></br>
        <%="Surface : "+surface%>
        <br></br>
        <%="le prix de la maison au m2 : " + m+" €"%>
        <br></br>
        <%="le prix comparatif est de : " +deal +" €"%>
        <br></br>
        <%="C'est un "+mess%>
    </p>
</body>

</html>